@model IEnumerable<ExpenseTracker.Models.Expense>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Expenses</h1>


<table class="table table table-bordered w-100">
    <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Note</th>
            <th style="width:200px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Amount.ToString("C")</td>
                <td>@item.Category</td>
                <td>@item.ExpenseDate.ToShortDateString()</td>
                <td>@item.Notes</td>
                <td class="d-flex gap-2">

                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>


<h4>Filter Expenses</h4>
<form asp-action="Index" method="get" class="row g-3 mb-4">
    <div class="col-md-3">
        <label class="form-label">Category</label>
        @Html.DropDownList(
                 "category",
                 ViewBag.Categories as SelectList,
                 "All",
                 new { @class = "form-control" }
                 )
    </div>
    <div class="col-md-3 d-flex align-items-end">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>

